<section
    class="w-full h-screen flex flex-col lg:flex-row items-center relative"
    >
    <div
        class="w-full card card-white not-hover border-none! h-auto lg:w-1/2 lg:h-full flex flex-col max-lg:pt-section-y lg:items-center lg:justify-center relative gap-md"
        >
            <!-- (click)="goBack()" -->
        <a 
            [routerLink]="['/']"
            class="absolute top-md left-md">
            <i class="pi pi-arrow-left size-icon! hover:text-clr-chips-border-hover dark:hover:text-clr-chips-hover-dark transition-morph duration-300"></i>
        </a>
        <span
            class="w-full flex flex-col items-center justify-center gap-sm"
            >
            <p 
                class="title-1"
                >
                Welkom
            </p>
            <p>
                Créez des souvenirs inoubliables.
            </p>
        </span>
    </div>
    <span class="separator separator-y max-lg:hidden"></span>
    <div
        class="w-full h-auto lg:w-1/2 lg:h-full lg:justify-center flex flex-col gap-8"
        >
        <form 
            [formGroup]="authForm"
            (ngSubmit)="submitForm()"
            class="w-full h-auto flex flex-col lg:justify-center gap-xl px-main"
            >
            <div
                class="w-full flex flex-col gap-xl"
                >
                <fieldset
                    [disabled]="isSubmitting()"
                    class="flex justify-center mt-lg"
                    >
                    @if (!authLogin()) {
                        <label 
                            for="username"
                            class="label-input"
                            >
                            <input 
                                type="text" 
                                formControlName="username"
                                id="username"
                                class="input-text"
                                required
                            >
                            <p class="label-1">
                                Nom d'utilisateur
                            </p>
                            <p class="label-2 username"></p>
                        </label>
                    }
                </fieldset>
                <fieldset
                    [disabled]="isSubmitting()"
                    class="flex justify-center mt-lg"
                    >
                    <label 
                        for="email"
                        class="label-input"
                        >
                        <input 
                            type="email" 
                            formControlName="email"
                            id="email"
                            class="input-text"
                            required
                        >
                        <p class="label-1">
                            Email
                        </p>
                        <p class="label-2 email"></p>
                    </label>
                </fieldset>
                <fieldset
                    [disabled]="isSubmitting()"
                    class="flex justify-center mt-lg"
                    >
                    <label 
                        for="password"
                        class="label-input"
                        >
                        <input 
                            type="text" 
                            formControlName="password"
                            id="password"
                            class="input-text"
                            required
                        >
                        <p class="label-1">
                            Mot de passe
                        </p>
                        <p class="label-2 password"></p>
                    </label>
                </fieldset>
            </div>
            <div
                class="w-full flex items-center justify-center"
                >
                <button 
                    [disabled]="authForm.invalid"
                    class="button primary submit"
                    >
                    @if(loading()){
                        <p>en cours...</p>
                    } @else {
                        <!-- @if() -->
                        <p class="flex items-center gap-sm">
                            {{buttontext()}}
                            <i class="pi pi-arrow-right icon-size!"></i>
                        </p>
                    }
                </button>
            </div>
        </form>

        <span class="w-full flex items-center justify-center">
            <p class="text-base-small">{{authLogin() ? 'Pas encore de compte ?': 'Avez-vous déjà un compte ?'}} </p>
                <a
                    [routerLink]="[authRoute]"
                    class="button tertial text-base-small"
                    >
                    {{title}}
                </a>
        </span>
        <div class="w-full h-8 flex justify-center relative">
            <div class="w-2/3 h-full flex items-center justify-center gap-sm">
                <span class="w-2/10 flex">
                    <span class="separator"></span>
                </span>
                <span class="text-caption">Ou continuer avec</span>
                <span class="w-2/10 flex">
                    <span class="separator"></span>
                </span>
            </div>
        </div>
        <div
            class="w-full flex justify-center"
            >
            <a
                href=""
                class="button secondary submit flex items-center gap-md"
                >
                <!-- http://localhost:8080/oauth2/authorization/google -->
                <i class="pi pi-google size-icon!"></i>
                <p>Google</p>
            </a>
        </div>
    </div>
</section>
