<svg
  [attr.width]="size()"
  [attr.height]="size()"
  viewBox="0 0 100 100"
  xmlns="http://www.w3.org/2000/svg"
  [attr.role]="label() ? 'img' : null"
  [attr.aria-label]="label()"
  [attr.aria-hidden]="label() ? null : true"
  focusable="false"
>
  @for (slice of slices; track slice.index) {
    <g
      class="slice"
      [class.slice--inverse]="whiteSliceIndex === slice.index"
      [style.--i]="slice.index"
    >
      <path [attr.d]="slice.path" />
    </g>
  }
</svg>
<!-- <svg
	width="520"
	height="150"
	viewBox="0 0 520 150"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	>
	<defs>
		<linearGradient
			id="welkomGradient"
			x1="20"
			y1="20"
			x2="105"
			y2="90"
			gradientUnits="userSpaceOnUse"
			>
			<stop offset="0%" stop-color="#F19A80"/>
			<stop offset="45%" stop-color="#D9775F"/>
			<stop offset="100%" stop-color="#B84D3C"/>
		</linearGradient>
	</defs>
</svg> -->