<div
    class="w-full flex items-center justify-between"
    >
    <div
        class="flex gap-sm"
        >
        <span class="w-8 h-8 rounded-md bg-wlk-content-secondary/50 duration-300 animate-pulse"></span>
        <div
            class="flex flex-col gap-xs"
            >
            <span class="w-32 h-2.5 rounded-md bg-wlk-content-secondary/50 animate-pulse duration-300 mt-xs"></span>
            <span class="w-24 h-2 rounded-sm bg-wlk-content-secondary/50 animate-pulse duration-300 mt-xs"></span>
        </div>
    </div>
</div>