<div
    wlkEntryAnim
    [delay]="150"
    [threshold]="0.3"
    class="flex flex-col w-44 lg:w-52 bg-wlk-background/20 rounded-lg border border-wlk-border/25 cursor-default opacity-0 overflow-hidden"
    >
    <div
        class="w-full h-28 flex items-end justify-end relative bg-wlk-content-secondary/20 animate-pulse duration-300"
    ></div>
    <div
        class="w-full flex flex-col p-sm"
        >
        <div
            class="w-full flex items-center justify-between"
            >
            <span
                class="flex flex-col gap-sm"
                >
                <span class="w-32 h-3 bg-wlk-content-secondary/20 animate-pulse duration-300 rounded-md"></span>
                <span class="w-44 h-2 bg-wlk-content-secondary/20 animate-pulse duration-300 rounded-md"></span>
            </span>
        </div>
    </div>
    <div
        class="flex flex-col gap-xs p-sm"
        >
        <span
            class="flex items-center gap-sm"
            >
            <span class="w-16 h-2 bg-wlk-content-secondary/20 animate-pulse duration-300 rounded-md"></span>
            <span class="w-16 h-2 bg-wlk-content-secondary/20 animate-pulse duration-300 rounded-md"></span>
        </span>
    </div>
</div>