<header
    aria-label="site-header"
    role="banner"
    class="w-full h-[10vh] lg:h-[12vh] fixed top-0 z-20 flex items-center justify-between px-main bg-clr-bg-page dark:bg-clr-bg-page-dark || "
    >
    <a
        routerLink="/"
        aria-label="Welkom – Home"
        class="flex items-center gap-sm"
        >
        <wlk-welkom-logo [size]="36"></wlk-welkom-logo>
        <span class="title-3"> {{appInfo.name}}</span>
    </a>
        <li 
            class="w-12 scale-50">
            <app-theme></app-theme>
        </li>

    <nav
        aria-label="Main navigation"
        class="lg:w-3/5 xl:w-1/2 hidden lg:flex items-center justify-between"
        >
        <ul
            class="flex items-center gap-sm "
            >
            <li>
                <a 
                    [routerLink]="['/home']"
                    [routerLinkActive]="['link']"
                    class="button tertial"
                    >
                    <!-- [routerLinkActiveOptions]="{exact: true}" -->
                    Acceuil
                </a>
            </li>
            <li>
                <a 
                    [routerLink]="['/catalogues']"
                    [routerLinkActive]="['link']"
                    class="button tertial"
                    >
                    Templates
                </a>
            </li>
            <li>
                <a 
                    *wlkRole="['WLK_ADMIN', 'WLK_SUPER_ADMIN']"
                    [routerLink]="['/admin']"
                    [routerLinkActive]="['link']"
                    class="button tertial"
                    >
                    Admin
                </a>
            </li>
            <li>
                <a 
                    *wlkRole="['WLK_ADMIN', 'WLK_SUPER_ADMIN']"
                    [routerLink]="['/design-system']"
                    [routerLinkActive]="['link']"
                    class="button tertial"
                    >
                    Design
                </a>
            </li>
        </ul>
        <ul
            class="flex items-center gap-sm"
            >
            <ng-container 
                *wlkRole="['WLK_USER', 'WLK_ADMIN', 'WLK_SUPER_ADMIN']"
                >
                <a 
                    routerLink="/profile"
                    aria-label="Profile de {{auth.currentUser()!.username}}"
                    >
                    {{auth.currentUser()!.username}}
                </a>
            </ng-container>
            <ng-container
                *wlkRole="'GUEST'"
                >
                <a 
                    [routerLink]="['/auth/login']"
                    class="button primary"
                    >
                    Se connecter
                </a>
            </ng-container>
        </ul>
    </nav>

    <p-button (click)="isMenuOpen = true" icon="pi pi-bars" class="2xl:scale-150! lg:hidden!" />
</header>

<p-drawer [header]="appInfo.name" [(visible)]="isMenuOpen" position="right">
    <nav
        class="w-full h-full flex flex-col justify-between"
        >
    </nav>
</p-drawer>