<div
    class=" w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-md"
    >
    <div
        aria-label="rsvp statistique"
        wlkEntryAnim
        [threshold]="0.3"
        [translateY]="15"
        class="lg:col-span- lg:flex hidden flex-col gap-md bg-wlk-surface-soft py-md rounded-xl overflow-hidden opacity-0"
        >
        <span class="text-h4 px-lg font-Semibold text-wlk-content-secondary">RSVP Analytics</span>
        <wlk-chart-radial 
            [chartRadialData]="rsvpStatusRadial()" 
            [loaderSize]="'scale-30'" 
            [height]="250" 
            class="w-full h-full relative"
        />
    </div>

    <div 
        aria-label="event carte"
        wlkEntryAnim
        [threshold]="0.3"
        [translateY]="15"
        class="border border-wlk-border rounded-xl relative overflow-hidden opacity-0"
        >
        <!-- cover -->
        <div
            class="absolute w-full h-full flex items-end justify-between bg-wlk-primary-light/20"
            >
            <img 
                src="assets/shapes/flowers.svg" 
                alt="cover"
                width="48"
            >    
            <img 
                src="assets/shapes/flowers.svg" 
                alt="cover"
                width="112"
            >    
        </div>
        <div
            class="w-full h-full flex flex-col justify-betwee p-md"
            >
            <span
                class="mb-xl"
                >
                <p class="text-h4 font-Semibold text-wlk-content-secondary">Titre de l'événement actuel version longue</p>
            </span>

            <div
                class="flex flex-col gap-md w-full relative"
                >
                <div 
                    class="grid grid-cols-2 gap-big"
                    >
                    <span class="flex gap-md items-center">
                        <span class="p-sm flex items-center justify-center bg-wlk-border/30 border border-wlk-border rounded-md">
                            <i class="pi pi-users text-wlk-content-secondary"></i>
                        </span>
                        <small class="font-Semibold ">
                            Invités
                        </small>
                    </span>
                    <span class="pl-xs font-Semibold flex items-center text-label ">
                        {{eventStatus().countGuests}}
                    </span>
                </div>

                <div 
                    class="grid grid-cols-7 gap-md"
                    >
                    <span class="h-8 col-span-4 flex gap-md items-center">
                        <span class="p-sm flex items-center justify-center bg-wlk-border/30 border border-wlk-border rounded-md">
                            <i class="pi pi-clock text-wlk-content-secondary"></i>
                        </span>
                        <small class="font-Semibold ">
                            Evénement
                        </small>
                    </span>
                    @switch(eventStatus().status){
                            @case ('PENDING') {
                                <div class="col-span-3 flex items-center">
                                    <span
                                        class="h-fit w-fit rounded-lg font-Semibold flex items-center text-label "
                                        >
                                        À venir
                                    </span>
                                </div>
                            }
                            @case ('CONFIRMED') {
                                <div class="col-span-3 flex items-center gap-xs relative">
                                    <span class="h-2 w-2 rounded-full absolute -left-md animate-ping duration-1000 bg-green-600"></span>
                                    <span class="h-2 w-2 rounded-full absolute -left-md bg-green-600"></span>
                                    <span
                                        class="h-fit w-fit rounded-lg font-Semibold flex items-center text-label text-green-700"
                                        >
                                        En cours
                                    </span>
                                </div>
                            }
                            @case ('CANCELED') {
                                <div class="col-span-3 flex items-center gap-xs relative">
                                    <span
                                        class="h-fit w-fit rounded-lg font-Semibold flex items-center text-label text-wlk-danger"
                                        >
                                        Annulé
                                    </span>
                                </div>
                            }
                            @case ('DRAFT') {
                                <div class="col-span-3 flex items-center gap-xs relative">
                                    <span
                                        class="h-fit w-fit rounded-lg font-Semibold flex items-center text-label text-wlk-gold"
                                        >
                                        Passé
                                    </span>
                                </div>
                            }
                        }
                </div>

                <div 
                    class="grid grid-cols-7 gap-md"
                    >
                    <span class="h-8 col-span-4 flex gap-md items-center">
                        <span class="p-sm flex items-center justify-center bg-wlk-border/30 border border-wlk-border rounded-md">
                            <i class="pi pi-key text-wlk-content-secondary"></i>
                        </span>
                        <small class="font-Semibold ">
                            Activation
                        </small>
                    </span>
                    <span class="h-8 font-Semibold col-span-3 flex items-center text-wlk-content-secondary">
                        <!-- En attente -->
                        @switch(eventStatus().paymentStatus){
                            @case ('PENDING') {
                                <div class="col-span-3 flex items-center">
                                    <span
                                        class="h-fit w-fit rounded-lg font-Semibold flex items-center text-label text-blue-500"
                                        >
                                        En attente
                                    </span>
                                </div>
                            }
                            @case ('PAYMENT_SUCCESS') {
                                <div class="col-span-3 flex items-center gap-xs relative">
                                    <span
                                        class="h-fit w-fit rounded-lg font-Semibold flex items-center text-label text-wlk-sage-dark"
                                        >
                                        Activé
                                    </span>
                                </div>
                            }
                            @case ('PAYMENT_FAILED') {
                                <div class="col-span-3 flex items-center gap-xs relative">
                                    <span
                                        class="h-fit w-fit rounded-lg font-Semibold flex items-center text-label text-wlk-danger"
                                        >
                                        Échoué
                                    </span>
                                </div>
                            }
                        }
                    </span>
                </div>
            </div>

            @if (eventStatus().paymentStatus !== 'PAYMENT_SUCCESS') {
                <small class="absolute bottom-md text-small font-semibold">
                    Votre événement n'attend plus que vous l'<a class="text-blue-500 cursor-pointer hover:underline">activiez</a> 
                </small>
            }
        </div>
    </div>




    <div
        aria-label="event calendrier"
        wlkEntryAnim
        [threshold]="0.3"
        [translateY]="15"
        class="border border-wlk-border rounded-xl relative bg-wlk-surface-soft opacity-0"
        >
        <wlk-calendar [dateTime]="dateTime()" />
    </div>




    <div
        class="md:col-span-2 lg:hidden flex flex-col gap-md bg-wlk-surface-soft py-md rounded-xl"
        >
        <span class="text-h4 px-lg font-Semibold text-wlk-content-secondaryC">RSVP Analytics</span>
        <wlk-chart-radial 
            [chartRadialData]="rsvpStatusRadial()" 
            [loaderSize]="'scale-30'" 
            [height]="250" 
            class="w-full h-full relative"
        />
        <!-- <wlk-chart-area 
            [chartData]="rsvpAnalytic()" 
            [loaderSize]="'scale-30'" 
            [height]="250" 
            class="w-full h-full relative"
        ></wlk-chart-area> -->
    </div>
</div>
