<!-- <section
    class="w-full min-h-screen max-h-270 flex flex-col gap-lg py-section-y px-main lg:px-section-y"
    >
    <div
        class="w-full grid grid-cols-1 md:grid-cols-7 gap-main relative"
        >
        <div class="card card-white col-span-4 flex flex-col gap-lg">
            <span class="w-full text-left">
                <i  class="pi pi-qrcode size-icon!"></i>
            </span>
            <p 
                class="title-card"
                >
                Entrée QR code sécurisée
            </p>
            <p
                class="" 
                >
                Accélérez l'accueil de vos invités avec un scan rapide. Chaque invitation génère un code unique pour un contrôle d'accès professionnel et fluide le jour J.
            </p>
            <span
                class="card card-cream flex items-center justify-center py-16!"
                >
                <i class="pi pi-check-circle size-icon-large!"></i>
            </span>
        </div>
        <div class="card col-span-3 flex flex-col gap-lg">
            <span class="w-full text-left">
                <i  class="pi pi-calendar size-icon!"></i>
            </span>
            <p 
                class="text-title-4 sm:text-title-4-sm md:text-title-4-md lg:text-title-4-lg font-roboto-medium"
                >
                RSVP & Liste d'invités
            </p>
            <p
                class=""
                >
                Suivez les confirmations en temps réel. Gérez les préférences alimentaires, les plus-uns et les notifications automatiques en un seul tableau de bord épuré.
            </p>
            <span class="separator my-lg"></span>
            <div
                class="flex flex-col gap-sm"
                >
                @for(checkList of checkListRsvp; track $index){
                   <span class="flex gap-sm items-center">
                        <i class="{{checkList.icon}}"></i>
                        <p class="text-base-small">{{checkList.text}}</p>
                   </span> 
                }                
            </div>
        </div>
    </div>

    <div
        class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-lg"
        >
        @for (promise of promises; track $index) {
            <div
                class="card card-white flex flex-col not-hover md:first:col-span-2 lg:first:col-span-1 gap-lg"
                >
                <span class="w-full">
                    <i class="{{promise.icon}}"></i>
                </span>
                <p>{{promise.title}}</p>
                <p>{{promise.text}}</p>
            </div>
        }
    </div>
</section> -->

<section
    class="w-full px-main py-section-y bg-wlk-surface-soft"
    >
    <div class="w-full min-h-screen grid grid-cols-3 grid-rows-8 gap-md">
        <div
            class="border border-wlk-border bg-wlk-background h-full col-span-1 row-span-4 || flex flex-col justify-between"
            >
            <span
                class="h-1/4 flex flex-col p-sm"
                >
                <h3 class="text-h3 font-display">
                    Créez votre événement
                </h3>
                <p class="text-wlk-content-secondary">Renseignez les informations essentielles de votre événement et créez votre espace d’organisation.</p>
            </span>
            <div
                class="h-3/4 relative overflow-hidden"
                >
                <div
                    class="h-56 w-88 absolute -bottom-1/6 -left-1/4 border-3 border-wlk-border rounded-lg bg-wlk-surface"
                    >

                </div>
            </div>
        </div>
        <!-- ========== -->
        <div
            class="border border-wlk-border bg-wlk-background h-full col-span-1 row-span-3"
            >
            <span
                class="h-1/4 flex flex-col p-sm"
                >
                <h3 class="text-h3 font-display">
                    Préparez vos invitations
                </h3>
                <p class="text-wlk-content-secondary">Ajoutez vos invités, personnalisez votre invitation et préparez votre événement à votre image.</p>
            </span>
        </div>
        <div
            class="border border-wlk-border bg-wlk-background h-full col-span-1 row-span-4"
            >
            <span
                class="h-1/4 flex flex-col p-sm"
                >
                <h3 class="text-h3 font-display">
                    Invitez vos proches
                </h3>
                <p class="text-wlk-content-secondary">Chaque invité dispose de son invitation personnelle et peut confirmer sa présence simplement.</p>
            </span>
        </div>
        <!-- ====================================== -->
        <div
            class="border border-wlk-border bg-wlk-background h-full col-span-1 row-span-2 || flex flex-col items-center justify-center gap-md p-main"
            >
            <img 
                src="assets/logo/welkom-logo.webp" 
                alt=""
                width="64"
            >
            <p class="text-wlk-content-secondary">Votre événement en quelques étapes.</p>
        </div>
        <!-- ====================================== -->
        <div
            class="border border-wlk-border bg-wlk-background h-full col-span-1 row-span-4"
            >
            <span
                class="h-1/4 flex flex-col p-sm"
                >
                <h3 class="text-h3 font-display">
                    Envoyer-les
                </h3>
                <p class="text-wlk-content-secondary">
                    Chaque invités dispose d'un lien vers son invitation, visualisable à tout moment et pas besoin de se connecter. Envoyez les invitations à la liste de vos invités en clic ou à un invité en particulier, via whatsapp, e-mail ou sms sans quitter votre espace organisateur. vous pouvez également en copier.
                </p>
            </span>
        </div>
        <div
            class="border border-wlk-border bg-wlk-background h-full col-span-1 row-span-4"
            >
            <span
                class="h-1/4 flex flex-col p-sm"
                >
                <h3 class="text-h3 font-display">
                    Accueillez vos invités
                </h3>
                <p class="text-wlk-content-secondary">
                    Le jour J, utilisez le checking Welkom pour vérifier rapidement les invitations et accueillir vos invités.
                </p>
            </span>
        </div>
        <div
            class="border border-wlk-border bg-wlk-background  h-full col-span-1 row-span-3"
            >
            <span
                class="h-1/4 flex flex-col p-sm"
                >
                <h3 class="text-h3 font-display">
                    Suivez les réponses
                </h3>
                <p class="text-wlk-content-secondary">Visualisez les confirmations et gardez une vue claire sur votre liste d’invités.</p>
            </span>
        </div>
    </div>
</section>

<section
    class="w-full flex flex-col p-main py-section-y"
    >
        <div class="flex flex-col gap-xs">
            <small class="text-wlk-gold font-semibold">LES FONCTIONNALITÉS</small>
            <h2 class="text-h2 font-display">Tout ce qu’il faut pour préparer votre événement.</h2>
        </div>
        <div
            class="h-124 border"
            >
            
        </div>
</section>