<div class="sidebar" [class.collapsed]="isCollapsed()">

    <div class="w-full flex  items-end justify-center gap-xs">
        <a  
            routerLink="/home"
            class="w-full flex  items-end justify-center gap-xs">
            <img 
                [src]="appLogo" 
                alt=""
                width="36"
            >
            @if(!isCollapsed()){
                <span 
                    wlkEntryAnim
                    [delay]="100"
                    [threshold]="0.2"
                    class="font-display font-semibold mb-xs opacity-0">
                    Welkom
                </span>
            }
        </a>
    </div>
  
    <nav 
        role="list"
        aria-label="side-menu"
        class="menu-list mt-xl">
        @for (item of menuItems; track $index) {
            <a  
                [ariaLabel]="item.label"
                [routerLink]="item.route" 
                routerLinkActive="active cursor-default" 
                class="menu-item"
                >
                <span class="icon flex items-center text-center h-5 min-w-4">
                    <i [class]="item.icon"></i>
                </span>
                @if (!isCollapsed()) {
                    <span 
                        wlkEntryAnim
                        [delay]="100"
                        [threshold]="0.2"
                        class="label text-label opacity-0"
                        >
                        {{ item.label }}
                    </span>
                }
            </a>
        }
  </nav>

</div>
