<section
    class="w-full h-screen flex flex-col lg:flex-row max-lg:mt-section-y justify-between items-center p-main relative || overflow-hidden"
    >
    <div
        class="w-full lg:w-2/3 flex flex-col gap-xl relative "
        >
        <div
            class="w-full flex flex-col gap-sm"
            >
            <h1 class="text-hero font-display z-2">
                {{heroTextContent.title}}
            </h1>
            <p
                class="text-h3 text-wlk-content-secondary! z-2"
                >
                {{heroTextContent.description}}
            </p>
        </div>
        <div
            class="flex flex-col lg:flex-row gap-sm"
            >
            <p-button class="button primary" 
                label="Créer mon événement"
                class="z-2"
            />
            <p-button class="button primary" 
                label="Découvrir Welkom"
                severity="secondary"
                class="z-2"
            />

            <!-- <button 
                class="button secondary attention" 
                (click)="logoutSession()"
                >
                Déconnexion
            </button> -->
        </div>
    </div>
    <img 
        src="assets/shapes/lak.svg" 
        alt=""
        width="800"
        class="absolute -right-1/6 -bottom-1/2 z-1"
    >
    <img 
        src="assets/shapes/flowers.svg" 
        alt=""
        class="absolute right-0 bottom-0"
    >
</section>