<section
    class="w-full h-screen max-h-270 flex flex-col lg:flex-row max-lg:mt-section-y justify-between items-center p-main || "
    >
    <div
        class="w-full lg:w-2/3 flex flex-col gap-xl relative"
        >
        <div
            class="w-full flex flex-col gap-sm"
            >
            <h1 class="title-1">
                {{appDescription.title}}
            </h1>
            <p
                class="text-base secondary"
                >
                {{appDescription.description}}
            </p>
        </div>
        <div
            class="flex flex-col lg:flex-row gap-sm"
            >
            <button class="button primary">
                Créer un événement
            </button>
            <button class="button secondary">
                Voir les template
            </button>
            <button 
                class="button secondary attention" 
                (click)="logoutSession()"
                >
                Déconnexion
            </button>
        </div>
    </div>
</section>