<section
    class="w-full min-h-screen flex flex-col pt-section-y"
    >
    <div class="w-full items-center justify-end">
        <p-button 
            label="Enregistrer"    
            (click)="mockCustom()"
        />
    </div>
    <div
        class="container"
        >

    </div>
</section>


<!-- Methode de modification -->

<!-- 

<div class="card">
    <p-inplace>
        <ng-template #display>
            <span>Click to Edit</span>
        </ng-template>
        <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex gap-2">
                <input type="text" pInputText [pAutoFocus]="true" />
                <button type="button" pButton (click)="closeCallback($event)" text severity="danger">
                    <i class="pi pi-times" pButtonIcon></i>
                </button>
            </span>
        </ng-template>
    </p-inplace>
</div>

-->