<section
    class="flex flex-col gap-md px-main py-section-y *:w-fit"
    >
    <app-header></app-header>

	<h1 class="title-1">Welcome to Welkom app invite</h1>
	<p class="title-1 secondary">Text title 1 secondary</p>

	<p class="text-base">Text base</p>
	<p class="text-base secondary">Text base secondary</p>
	<p class="text-base disable">Text base disable</p>
	
	<p class="text-caption disable">Text caption</p>

	<p class="text-title-1 text-clr-text dark:text-clr-text-dark">cliquez sur ce <a href="" class="text-clr-link dark:text-clr-link-dark">lien</a></p>
	
	<span class="chips chips-xs">Chips xs</span>
	<span class="chips chips-sm">Chips sm</span>
	<span class="chips chips-md">Chips md</span>
	<span class="chips chips-active">Chips active</span>
	<span class="chips chips-selected">Chips selected</span>
	<span class="chips chips-disabled">Chips disable</span>

	<button class="button primary">button primary</button>
	<button class="button primary attention">button primary attention</button>
	<button class="button primary" disabled>button primary disable</button>

	<button class="button secondary">button secondary</button>
	<button class="button secondary" disabled>button secondary disable</button>

	<button class="button secondary attention">button secondary attention</button>

	<button class="button ghost">button ghost</button>
	<button class="button ghost" disabled>button ghost disable</button>

	<button class="button tertial">button tertial</button>
	<button class="button tertial attention">button tertial attention</button>
	<button class="button tertial" disabled>button tertial disable</button>
	<button class="button tertial link">button tertial link</button>

    <div class="card">Card</div>
    <div class="card card-white">Card white</div>
    <div class="card card-white not-hover">Card white not-white</div>


	<div
		class="flex flex-col gap-12 my-xl"
		>
		<label 
			for="username" 
			class="label-input">
			<input type="text" id="username" class="input-text" required>
			<span class="label-1"> Nom d'utilisateur </span>
			<span class="label-2 username"></span>
		</label>
		<label 
			for="email" 
			class="label-input">
			<input type="text" id="email" class="input-text" required>
			<span class="label-1"> Email </span>
			<span class="label-2 email"></span>
		</label>
		<label 
			for="password" 
			class="label-input">
			<input type="email" id="password" class="input-text" required>
			<span class="label-1"> Mot de passe </span>
			<span class="label-2 password"></span>
		</label>
		<label 
			for="input-text-disable" 
			class="label-input">
			<input type="password" id="input-text-disable" class="input-text" disabled required>
			<span class="label-1">Input text disable</span>
			<span class="label-2 username"></span>
		</label>
	</div>
</section>