<section
    aria-label="CTA section"
    class="cta-section w-full flex items-center justify-center p-main py-section-y"
    >
    <div
        class="w-full flex flex-col items-center justify-center gap-xl"
        >
        <h2 
            class="title-h2 text-clr-text-dark!">
            Votre prochain événement commence ici.
        </h2>
        <p class="text-small text-wlk-content-secondary">Créez votre événement, invitez vos proches et préparez votre jour J avec Welkom.</p>
        <button
            aria-label="Bouton pour créer un événement."
            pButton
            routerLink="/event/create"
            aria-label="button créer un événement"
            class="button primary reverse"
            >
            Créer mon évenement
        </button>
    </div>
</section>
