<section
    class="w-full min-h-screen max-h-270 flex items-center justify-center p-main"
    >
    <div
        class="card card-cta w-full h-[50vh] py-section-y flex flex-col items-center justify-center gap-xl"
        >
        <h2 class="title-3 text-clr-text-dark!">Prêt à transformer votre prochain événement ?</h2>
        <a
            routerLink="/event/create"
            aria-label="button créer un événement"
            class="button primary reverse">
            {{"Créer un évenement" | uppercase}}
        </a>
    </div>
</section>
