<section
    class="w-full min-h-screen relative pt-section-y || "
    >
    <wlk-header></wlk-header>
    <div
        class="w-full flex flex-col lg:flex-row justify-between p-main"
        >
        <p>Vos invitations, du premier clic au contrôle du Jour J</p>
        <span
            class="flex items-center gap-lg"
            >
            <input 
                type="text" 
                placeholder="recherche" 
                class="h-9.5 w-96 border rounded- px-main"
            >
            <ng-container 
                *wlkRole="['WLK_ADMIN', 'WLK_SUPER_ADMIN']"
                >
                <a 
                    aria-label="bouton ajouter catalogue"
                    routerLink="/catalogues/admin/add"
                    class="button primary"
                    >
                    + Ajouter 
                </a>
            </ng-container>
        </span>
    </div>
    <wlk-catalogue-list 
        [catalogues]="list()"
        class="w-full relative"    
    ></wlk-catalogue-list>
</section>
